[user]
	email = bernhard.s.dev@gmail.com
	name = Bernhard Steidl
[difftool]
  prompt = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$REMOTE\" "\"$LOCAL\"

[includeIf "gitdir:~/Documents/HM/"]
	path = ~/Documents/HM/.gitconfig
